node_modules
dist
.tmp
.sass-cache
app/bower_components
test/bower_components
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
