$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

#themap {
    position: fixed;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 0;
}

#legend {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    overflow: auto;

    .selected-route {
        background-color: #f0f0f0;
    }
}

